@use '../../styles/variabili'as v;

.wrapperPanino {
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.wrapperSchedaPanino{
  height: auto;
  //padding-bottom: 100px;
}

.wrapperInfo {
  margin: -3rem auto 0 auto;
  position: relative;
  z-index: 1;

  h2 {
    position: relative;
    max-width: 280px;
    font-family: "short stack";
    color: white;
    font-size: 7vw;
    padding: 10px 32px;
    background-color: rgb(224 109 91 / 83%);
    border-radius: 5px;
    display: block;
    margin: 0 auto 0 auto;
    position: relative;
    z-index: 1;
    display: inline-block;
  }

  h3 {
    font-family: v.$titles;
    line-height: 1;
    margin: 20px 0 10px 0;
  }

  .title {
    width: 200px;
    text-align: left;
    line-height: 1;


  }
  .prezzoScheda{
    font-size: 1.4rem;
    font-family: "short stack";
    background-color: v.$brownBackBtn;
    width: 86px;
    padding: 7px;
    letter-spacing: -4px;
    border-radius: 7px;
    display: block;
    margin: -6px 11% 0 auto;
    color: white;
    box-shadow: 0px 0px 3px #a39292;
    position: relative;
    z-index: 0;
  }
}

ul.listaSpec {
   
    list-style: none;
    position: relative;
    border-radius: 10px;
    background-color: #e1d3c8;
    padding: 10px;
    margin: 0rem 15px 0 -32px;
    border-radius: 10px;
    z-index: -1;
    padding-left: 47px;

  li {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    color: v.$black;
    align-items: center;
    margin-bottom: 5px;
  }
}

.wrapperImage {
  width: 100%;
  height: 120px;
  background-color: v.$darkRed;

  span {
    max-width: 330px;
    display: block;
    margin: 0 auto !important;
  }
}

.headerSalse {

  h3 {
    margin: 0
  }

}

.headerGuarnizioni {



  h3 {
    margin: 0
  }

}


ul.listaSalse {
  padding: 0;
  display: flex;
  max-width: 140px;
  width: 100%;
  flex-wrap: wrap;
  list-style: none;
  justify-content: flex-start;
  font-size: 1rem;
  font-weight: bold;
  background-color: v.$backSchedaInfo;
  padding: 22px 7px 10px 7px;
  margin: -26px 10px 0 10px;
  border-radius: 10px;


  li {
    text-align: center;
    width: 100%;
  }
}

.dati {
  margin: 4rem 0 0 0;
  position: relative;
}



.wrapperSpec {

  display: flex;
justify-content: center;
margin: 0 15px;
 >div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


.wrapperSingolo {
  text-align: center;
  margin: 2rem auto;
  padding: 0 1rem;
  position: relative;

  .immaginePanino {
    max-width: 200px;
    display: block;
    margin: 0 auto;
  }

  h2 {
    font-family: v.$titles;
    margin: 0;
    color: v.$brown;
  } 
}

.listaSpec {
  ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    margin: 0;

    li {
      margin: 1px 0 0 3px;

      &::after {
        content: ",";
      }

      &:last-child::after {
        content: "";
      }
    }
  }
}
.wrapperListaSpec{
    display: flex;
    align-items: center;
    justify-content: center;

}
.listaProdotti {
  margin-top: 80px;
  position: relative;
}

.uiLista {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(27deg 100% 93% / 53%);
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  outline: 5px solid #d1b9a6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0;

  .price {
    font-family: v.$titles;
    color: white;
    font-size: 2rem;
    letter-spacing: -4px;
    width: 100%;
    line-height: 1;
    position: relative;
    left: -3px;
    span {
      display: block;
      background-color: v.$brownBackBtn;
      outline: 3px solid white;
      padding: 7px 15px;
      width: 140px;
      margin: 0 auto;
      box-shadow: 2px 1px 4px rgb(0 0 0 / 12%);
      transform: rotate(355deg);
      transform-origin:center;
      position: relative;

    
      border-radius: 5px;
    }

    svg {
      top: 7px;
      position: relative;
    }
  }

  .info {
    width: 50px;
    height: 50px;
    background-color: v.$green;
    font-size: 2rem;
    color: white;
    border-radius: 50%;
    line-height: 50px;
    margin: 0.5rem;
    position: relative;
  }

  .addToCart {
    width: 50px;
    height: 50px;
    background-color: v.$red;
    font-size: 2rem;
    color: white;
    border-radius: 50%;
    line-height: 50px;
    margin: 0.5rem;
    position: relative;
  }
}

.footerScheda{
  position: fixed;
  display: flex;
  align-items: center;
  background-color: v.$midbrown;
  padding: 20px 5px;
  width: 100%;
  bottom: 0px;
  z-index: 1;
  .wrapSchedaNav {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    .backButton{  
      background-color: v.$brownBackBtn;
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 1.5rem;
      color: white;
      display: inline-block;
      border-radius: 30px;
      padding-top: 4px;}

      .addToCart {
        background-color: v.$red;
        width: 230px;
        height: 50px;
        line-height: 46px;
        font-size: 2rem;
        color: white;
        display: inline-block;
        margin-left: 20px;
        border-radius: 30px;
  
        .icon {
          display: inline-block;
          height: 100%;
          vertical-align: middle;
  
        }
  
        span {
          display: inline-block;
          vertical-align: middle;
          font-size: 1.2rem;
          height: 100%;
        }
      }
  }
}
