// colors
$brown: #5F3718;
$lightbrown: #E6DBD2;
$midbrown: #DBCCC0;
$green: #75B476;
$red: #E16C5B;
$yellow: #FEC86F;
$yellowdark: #c38740;
$black: #292929;

// fonts
$fontPrimary: 'source sans';
$titles: 'short stack';

//media queries
$phone: 'max-width: 440px';
$tablet:'max-width: 768px';
$large: 'max-width: 1024px';
$desktop: 'max-width: 1280px';