@use "./variabili" as v;
@import "./fonts";
@import "./mixin/media";

html,
body {
  padding: 0;
  margin: 0;
  font-family: v.$fontPrimary;
  font-size: 16px;
  background-color: v.$lightbrown;
}
input,
textarea {
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: v.$backInput;
}
button{
  border: none;
  outline: none;

}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  margin-top: 4rem;
  position: relative;
}
ul{
   list-style: none;
   padding: 10px;
}
h1 {
  color: v.$red;
  font-size: 50px;
}
// ANCHOR: layout
nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  height: 60px;
  background-color: v.$lightbrown;
  padding-bottom: 5px;
}

nav .icon {
  font-size: 2rem;
  color: v.$brown;
}

nav .search {
  background-color: #dbccc0;
  padding: 12px 30px 10px 30px;
  position: relative;
  top: 0px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.trigger,
.cart {
  padding: 10px;
  position: relative;
}
.empty-cart {
  position: absolute;
  top: 17px;
  left: -83px;
  background: aliceblue;
  width: 100px;
  height: 100px;
  padding: 3px;
  font-size: 14px;
  padding: 5px;
  text-align: center;
  border-radius: 50%;
  color: v.$brown;
  background-color: v.$red;
  svg {
    top: 5px;
    position: relative;
    font-size: 2rem;
  }
  span {
    display: block;
    color: white;
    line-height: 1;
    margin-top: 10px;
  }
}
//ANCHOR: Layout
.layout {
  height: 100%;
}
.wrapper-main.store {
  height: 80%;
  overflow: visible;
  margin-bottom: 0;
}

.wrapper-main {
  overflow: scroll;
  margin-bottom: 90px;
}
//ANCHOR: LOGIN PAGE
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 0;

  .wrapper-login {
    position: relative;
    z-index: 100;
    width: 80%;
  }
  .wrapper-logo {
    position: relative;
    z-index: 2;
    max-width: 240px;
    width: 100%;
    margin-bottom: 3rem;
  }

  .form-login {
    display: flex;
    flex-direction: column;

    input,
    button {
      margin: 0.5rem 0;
      border-radius: 20px;
      border: 0;
      padding: 15px 10px;
      font-family: v.$titles;
      width: 100%;
    }
    button {
      background-color: v.$brown;
      color: white;
      font-size: 1.4rem;
      border-radius: 30px;
    }
  }
}


// ANCHOR: lista prodotti

.lista-prodotti {
}

//ANCHOR: toaster

.Toastify__toast-container {
  z-index: 102;
}
div#addedPanino {
background-color: v.$green;
color: white;
font-family: v.$titles;
height: 100px;
text-align: center;

}