@use "./variabili" as v;
@import "./fonts";
@import "./mixin/media";

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: v.$fontPrimary;
  font-size: 16px;
  background-color: v.$lightbrown;
}
input,
textarea {
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: v.$backInput;
  font-size: 1rem !important; /* hack per lo zoom dei mobile */
}
button {
  border: none;
  outline: none;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Customize the label (the container) */

/* Hide the browser's default checkbox */
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

main {
  margin-top: 4rem;
  margin-bottom: 4rem;
  position: relative;
}
ul {
  list-style: none;
  padding: 10px;
}
h1 {
  color: v.$red;
  font-size: 50px;
}
// ANCHOR: layout
nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  height: 60px;
  background-color: v.$lightbrown;
  padding-bottom: 5px;
}

nav .icon {
  font-size: 2rem;
  color: v.$brown;
}

nav .search {
  background-color: #dbccc0;
  padding: 12px 30px 10px 30px;
  position: relative;
  top: 0px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.trigger,
.cart {
  padding: 10px;
  position: relative;
}
.empty-cart {
  position: absolute;
  top: 17px;
  left: -83px;
  background: aliceblue;
  width: 100px;
  height: 100px;
  padding: 3px;
  font-size: 14px;
  padding: 5px;
  text-align: center;
  border-radius: 50%;
  color: v.$brown;
  background-color: v.$red;
  svg {
    top: 5px;
    position: relative;
    font-size: 2rem;
  }
  span {
    display: block;
    color: white;
    line-height: 1;
    margin-top: 10px;
  }
}
//ANCHOR: Layout
.layout {
  height: 100%;
  &.login {
    height: 100vh;
    overflow: hidden;
  }
}
.wrapper-main.store {
  height: 80%;
  overflow: visible;
  margin-bottom: 0;
}

.wrapper-main {
  //overflow-y: auto;
  margin-bottom: 90px;
}
//ANCHOR: LOGIN PAGE
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin-top: 0rem;
  padding-top: 4rem;
  button.back-login {
    background-color: v.$darkRed;

    padding: 1rem;
    border-radius: 37px;
    font-size: 1rem;
    max-width: 80px;
    display: inline-block;
    margin: 0rem 0 0 auto;
  }
  .google-registrazione-ui {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrapper-logo {
    position: relative;
    z-index: 2;
    max-width: 160px;
    width: 100%;
    margin-bottom: 2rem;
  }

  .form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    input,
    button {
      margin: 0.5rem 0;
      border-radius: 20px;
      border: 0;
      padding: 15px 10px;
      font-family: v.$titles;
      width: 100%;
    }
    label {
      width: 100%;
    }
    button {
      background-color: v.$brown;
      color: white;
      font-size: 1.4rem;
      &.button-register {
        margin-top: 1rem;
        background-color: v.$brownNoteDettagli;
        color: v.$brown;
        padding: 1rem 0.5rem;
        border-radius: 37px;
        font-size: 1rem;
        max-width: 130px;
        display: inline-block;
        margin: 1rem 0 0 auto;
      }
    }
  }
}

// ANCHOR: lista prodotti

.lista-prodotti {
}

//ANCHOR: toaster

.Toastify__toast-container {
  z-index: 102;
}
div#addedPanino {
  background-color: v.$green;
  color: white;
  font-family: v.$titles;
  height: 100px;
  text-align: center;
}

.close {
  border: 0;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 11px;
  background-color: #a58164;
  color: white;
  font-size: 1rem;
  line-height: 45px;
  display: block;
  padding: 0;

  svg {
    position: relative;
  }
}

.quantitaCart {
  position: absolute;
  top: 10px;
  color: white;
  font-size: 12px;
  background-color: v.$darkRed;
  width: 15px;
  height: 15px;
  text-align: center;
  border-radius: 50%;
  left: 21px;
}

// ANCHOR: search page

.search {
  text-align: center;
  h1 {
    font-family: v.$titles;
    margin: 0 1rem 0 0;
    color: white;
    font-size: 24px;
  }
  .wrapper-search-field {
    position: sticky;
    top: 60px;
    background-color: v.$lightbrown;
    padding: 1rem;
  }
  .subSearch {
    font-size: 20px;
    margin-bottom: 1rem;
  }
  h2 {
    font-family: v.$titles;
    font-size: 2rem;
    color: v.$black;
    margin: 10px 0;
  }
  .searchInput {
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    border-radius: 20px;
  }
  .headerRicerca {
    display: flex;
    align-items: center;
    background-color: v.$brownBackHeadCart;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 10px 0;
  }
  .close {
    margin-right: 2rem;
  }
  .wrapperListaSearch {
    padding: 0 20px;
  }
}

//ANCHOR: login page
.login-page {
  .logout {
    z-index: 100;
    font-family: v.$titles;
    background-color: v.$brownBackBtn;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 37px;
    font-size: 1.5rem;
  }
}
.wrapperLogin,
.wrappersignup {
  height: 284px;
  position: absolute;
  width: 100%;
}
.wrapper-login {
  text-align: center;
  position: relative;
  height: 284px;
  z-index: 100;
  width: 80%;
  button {
    font-family: v.$titles;
    background-color: transparent;
    font-size: 2rem;
    display: block;
    margin: 1rem 0 0 10px;
  }
  .google-login-button {
    background-color: v.$backInput;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 0px;
    margin: 0 0 0 1rem;
  }
  .back-login {
    margin-top: 1rem;
    background-color: v.$brown;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 37px;
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
    background-color: #e86565;
    padding: 0.3rem;
    border-radius: 20px;
  }
}

//ANCHOR: Drawer

.wrapper-drawer {
  position: fixed;
  top: 60px;
  z-index: 100;
  background-color: #e1d3c8f0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2rem;
  padding: 2rem 2rem;
  .presentazione {
    background-color: v.$brownNeon;
    padding: 10px;
    margin: 1rem 0;
    transform: rotate(-5deg);
  }
  h2 {
    font-family: v.$titles;
    margin: 1rem 0 0 0;
  }
  p {
    margin: 10px 0 0 0;
    span {
      font-family: v.$titles;
      color: v.$brown;
      letter-spacing: -1px;
      font-size: 1.2rem;
    }
  }
  button.logout {
    font-family: v.$titles;
    font-size: 1.5rem;
    background-color: v.$brownBackBtn;
    color: white;
    padding: 10px 15px;
    border-radius: 25px;
    margin-top: 30%;
  }
  .image-drawer {
    width: 200px;
    height: 200px;
    position: relative;
  }
  .user-data {
    text-align: center;
    padding: 0 1rem;
  }
}
.wrapper-interne {
  margin-top: 100px;
  padding: 0 2rem;
  font-family: v.$titles;
  &.chi-siamo {
    text-align: center;
    p {
      margin-bottom: 0;
    }
    .dati {
      li {
        margin-top: 10px;
      }
    }
  }
  h1 {
    text-align: center;
    margin-bottom: 0;
  }
  h2 {
    margin: 0;
  }
  ul {
    margin: 0;
  }
  ol {
    li {
      margin-top: 10px;
    }
  }
  button {
    border-radius: 20px;
    padding: 10px;
    background-color: v.$darkRed;
    color: white;
    font-family: v.$titles;
    margin: 0 auto;
    display: block;
  }
}

.web-app-warning {
  span {
    margin: 0 auto;
  }
  @media screen and (min-width: 460px) {
    position: fixed;
    z-index: 200;
    background: #f3ece7;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    padding: 1rem;
    display: block;
  }
  display: none;
}
