@import "./fonts";
@import "./variabili";
@import "./mixin/media";


html,
body {
  padding: 0;
  margin: 0;
  font-family: $fontPrimary;
  font-size: 16px;
  background-color: $lightbrown;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main{
  margin-top: 4rem;
  position: relative;
}

h1 {
  color: $red;
  font-size: 50px;
}
// ANCHOR: layout
nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  height: 60px;
  background-color: $lightbrown;
  padding-bottom: 5px;
}

nav .icon {
  font-size: 2rem;
  color: $brown
}

nav .search {
  background-color: #DBCCC0;
  padding: 12px 30px 10px 30px;
  position: relative;
  top: 0px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.trigger, .cart{
  padding: 10px;
}

//ANCHOR: Layout
.layout{
  height: 100vh;
}
.wrapper-main{
  height: 100%;
}


//ANCHOR: LOGIN PAGE
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 0;

  .wrapper-login {
    position: relative;
    z-index: 100;
    width: 80%;
  }
  .wrapper-logo {
    position: relative;
    z-index: 2;
    max-width: 240px;
    width: 100%;
    margin-bottom: 3rem;
  }

  .form-login {
    display: flex;
    flex-direction: column;

    input,
    button {
      margin: 0.5rem 0;
      border-radius: 20px;
      border: 0;
      padding: 15px 10px;
      font-family: $titles;
      width: 100%;
    }
    button {
      background-color: $brown;
      color: white;
      font-size: 1.4rem;
      border-radius: 30px;
    }
  }
}

// ANCHOR: lista prodotti


.lista-prodotti{

}